.courseInfo {
  width: 100%;
  border: solid 2px #70e4f8;
  padding: 20px;
  margin-top: 0;

  .back{
    cursor: pointer;
    font-weight: bold;
    &:hover{
      color: #8741b6;
    }
  }
  .title{
    margin: 30px 0;
    text-align: center;
  }
  .blocksContainer{
    width: 100%;
    display: flex;
    flex-direction: row;

    .description{
      padding: 0 20px;
      width: 65%;

      p{}
    }
    .detailInfo{
      padding: 0 20px;
      width: 35%;

      p{

        span{
          font-weight: bold;
        }
      }
    }
  }
}