.header {

  width: 100%;
  height: 70px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  border: solid 2px #f87070;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .tools{
    display: flex;
    flex-direction: row;
    align-items: center;

    .userName{
      margin: 0 20px;
    }
  }
}